/* app css stylesheet */

.container {
    min-height: 800px;
}
body {
    font-family: BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif;
    margin: 50 auto;
    background-color: #1e1e1e;
    text-align: center;
}

/*---------- HOME HEADER --------------*/

.home_header {
    animation: fadein 1s;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
    position: relative;
    display: block;
    padding-bottom: 40px;
    padding-top: 20px;
}
.home_header h1 {
    font-size: 50px;
    color: #7F559C;
    font-weight: 800;
    font-size: 50px;
    color: #fff;
    text-decoration: none;
    max-width: 650px;
    margin: auto;
    letter-spacing: -0.05em;
}
.home_header h2 {
    font-size: 30px;
    color: #a787e0;
    font-weight: 200;
    position: relative;
    margin: auto;
    display: block;
    max-width: 650px;
    letter-spacing: 0.05em
}
.rocket_icon {
    width: 50px;
    float: right;
    position: relative;
    top: 4px;
}

/*---------- HOME SQUARE --------------*/

.square_one {
   
    max-width: 400px;
    height: 400px;
    margin: auto;
    display: block;
    position: relative;
    margin-bottom: 40px;
    animation: fadein 1s;
    animation-delay: 0.8s;
    animation-fill-mode: both;

}
.square_header {
    width: 100%;
    color: #f3f3f3;
    padding-top: 35px;
    padding-bottom: 35px;
    font-weight:200;
    letter-spacing: 0.05em;
    font-size: 1.6em;
    background-color: #222222;
    text-align: left;
    text-indent: 60px;
    letter-spacing: 0.05em
}
.square_key {
    width: 70%;
    float: left;
    color: #dddddd;
    font-size: 1em;
    font-weight:100;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    text-indent: 60px;
    background-color: #343434;
    margin-top: 15px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    letter-spacing: 0.02em
 
}
.square_key:hover {
    text-shadow: 1px 1px #222222;
}
.square_value {
    width: 30%;
    float: left;
    color: #dddddd;
    font-size: 1em;
    font-weight:100;
    padding-top: 20px;
    padding-bottom: 2px;
    height: 36px;
    text-align: center;
    background-color: #343434;
    margin-top: 15px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-weight: bold;

}
.square_value:hover {
    text-shadow: 1px 1px #a857e1;
}


/*---------- FOOTER FORM --------------*/

.formspree input {
    padding: 10px;
    outline-width: 0;
    background: #2c2c2c;
    color: white;
    margin: 0px 0px 25px 0;
    animation: fadein 1s;
    animation-delay: 0.8s;
    animation-fill-mode: both;
}
.formspree input:focus {
    border: 1px dashed #622c97;
}
.formspree .message {
    width: 260px;
    background-color: #343434;
    border: 1px solid #343434;
    border-radius: 2px;
    height: 30px;
    text-indent: 15px;
    letter-spacing: 0.04em;
}


.formspree #button{
background-color: #a282ff;
    border: 1px solid #a282ff;
    border-radius: 2px;
    height: 50px;
    width: 110px;
    margin-left: 10px;
    font-size: 1.04em;
}



/*---------- ANIMATION --------------*/

@keyframes fadein {
    from {
        top: 0px;
        opacity: 0;
        transform: scale(0.6);
    }
    to {
        top: 0px;
        opacity: 1;
        transform: scale(1);
    }
}

