/* app css stylesheet */

.container {
    min-height: 700px;
}
body {
    font-family: BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif;
    margin: 50 auto;
    background-color: #141414;
    text-align: center;
}

/*---------- HOME HEADER --------------*/

.home_header {
    animation: fadein 1s;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
    position: relative;
    display: block;
    padding-bottom: 40px;
    padding-top: 20px;
}
.home_header h1 {
    font-size: 50px;
    color: #7F559C;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    max-width: 800px;
    margin: auto;
}
.home_header h2 {
    font-size: 30px;
    color: #a787e0;
    font-weight: 200;
    position: relative;
    margin: auto;
    display: block;
    max-width: 650px;
    letter-spacing: 0.05em
}
.rocket_icon {
    width: 50px;
    float: right;
    position: relative;
    top: 4px;
}

/*---------- HOME SQUARE --------------*/

.square_one {
   
    max-width: 400px;
    height: 400px;
    margin: auto;
    display: block;
    position: relative;
    margin-bottom: 40px;
    animation: fadein 1s;
    animation-delay: 0.8s;
    animation-fill-mode: both;

}
.square_header {
    width: 100%;
    color: #f3f3f3;
    padding-top: 35px;
    padding-bottom: 35px;
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 1.6em;
    background-color: #222222;
    text-align: center;
    letter-spacing: 0.05em
}
.square_key {
    width: 70%;
    float: left;
    color: #dddddd;
    font-size: 1em;
    font-weight:100;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    text-indent: 60px;
    background-color: #343434;
    margin-top: 1px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    letter-spacing: 0.02em
 
}
.square_key:hover {
    text-shadow: 1px 1px #222222;
}
.square_value {
    width: 30%;
    float: left;
    color: #dddddd;
    font-size: 1em;
    font-weight:100;
    padding-top: 20px;
    padding-bottom: 2px;
    height: 36px;
    text-align: center;
    background-color: #343434;
    margin-top: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-weight: bold;

}
.square_value:hover {
    text-shadow: 1px 1px #a857e1;
}


/*---------- FOOTER FORM --------------*/

.formspree input {
    padding: 10px;
    outline-width: 0;
    background: #2c2c2c;
    color: white;
    margin: 10px 0px 10px 0px;
    animation: fadein 1s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
}
.formspree input:focus {
    border: 1px dashed #666;
}
.formspree .message {
    width: 260px;
    background-color: #262626;
    border: 1px solid #262626;
    border-radius: 2px;
    height: 13px;
    text-indent: 10px;
    letter-spacing: 0.04em;
}


.formspree #button{
	background-color: #a282ff;
    border: 1px solid #a282ff;
    border-radius: 2px;
    /*
    height: 25px;
    width: 110px;
    margin-left: 10px;
    font-size: 1.04em;
    */
}

.formspree #button:focus {
	background: #94ce38;
    border: 1px solid #94ce38;
}


/*---------- FOOTER NOTE --------------*/

.footnote {
	width: 500px;
    margin: 0 auto;
    color: #444;
    font-size: 12px;
    text-shadow: 1px 1px #111;
    animation: fadein 1s;
    animation-delay: .8s;
    animation-fill-mode: both;}



/*---------- ANIMATION --------------*/

@keyframes fadein {
    from {
        top: 0px;
        opacity: 0;
        transform: scale(0.6);
    }
    to {
        top: 0px;
        opacity: 1;
        transform: scale(1);
    }
}

/*---------- BLAB STYLE REFERENCE --------------*/

/*
Font = “Open Sans”
Line-height: 1.25;

DARK COLOURS
========================
Background Dark Grey = #141414
Background Focus Grey = #262626
Button Background = #a282ff

Dark Grey Text = #63655e
White Text = #ffffff
Light Grey Text = #a9a9a9
Purple Text = #a787e0

Black Border = #000000
Star Grey = #545659


MAIN COLORS
=========================

Blab Blue = #689aff
Blab Blue Dark = #4884b8

Blab Yellow = #ffc566
Blab Yellow Dark = #e8a82c

Blab Green = #73e18d
Blab Dark Green = #52b046

Blab Red = #ff6868
Blab Dark Red = #cd3a54


LIGHT COLOURS
========================

Light Focus = #ffffff
Light Background = #fbfbfb
Grey Background = #eef2f6
Grey Tag Background = #f1f1f1
Purple Background = #955ff1

Black Text = #1f1f1f
Dark Text = #474747
Light Text = #888888

Dark Border = #b1b1b1
Grey Border = #e5e3e8
Pink Border = #ece8f3
*/

