<div class="home_header">
    <h1>BlabDash</h1>
    <h2>Track the growth of blab.im</h2>
</div>
<div class="square_one">
    <div class="square_header">Today's statistics</div>
    <div class="square_key grey_background">New users</div>
    <div class="square_value grey_background">{{today[0].total_new_users | number:0}}</div>
    <div class="square_key">Unique users</div>
    <div class="square_value">{{today[0].total_unique | number:0}}</div>
    <div class="square_key grey_background">Broadcasters</div>
    <div class="square_value grey_background">{{today[0].total_on_cam | number:0}}</div>
    <div class="square_key">Blabs Created</div>
    <div class="square_value">{{today[0].total_blabs | number:0}}</div>
</div>