<div class="home_header">
    <h1>Blab.im is growing fast <img src="http://emojipedia-us.s3.amazonaws.com/cache/f2/2e/f22eeaffb4cf3d62c240ac49e72f3745.png" width="50"></h1>
    <h2>Track the growth of blab.im</h2>
</div>
<div class="square_one">
    <div class="square_header">Today's stats</div>
    <div class="square_key">New users</div>
    <div class="square_value">{{today[0].total_new_users | number:0}}</div>
    <div class="square_key">Signed in</div>
    <div class="square_value">{{today[0].total_unique | number:0}}</div>
    <div class="square_key">Jumped on cam</div>
    <div class="square_value">{{today[0].total_on_cam | number:0}}</div>
    <div class="square_key">Blabs created</div>
    <div class="square_value">{{today[0].total_blabs | number:0}}</div>
</div>